@use "../abstract";

.user-address
{
    &__heading
    {
        color: var(--cart-bt-back);
        font-size: 24px;
        font-weight: 700;
        line-height: 34px; /* 141.667% */
    }
    &__top
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include abstract.breakpoint(md)
        {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
    &__btn
    {
        display: flex;
        gap: 10px;
        align-items: center;
        @include abstract.breakpoint(md)
        {
            font-size: 14px;
        }
    }
    &__title
    {
        color: var(--cart-bt-back);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 144.444% */
    }
    &__desc
    {
        color: var(--cart-bt-back);
        font-size: 15px;
        font-weight: 400;
        line-height: 22px; /* 146.667% */
    }
}
.address-card
{
    margin-top: 30px;
    display: flex;
    &__info
    {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__name,
    &__desc
    {
        color: var(--cart-bt-back);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 144.444% */
    }
    &__desc
    {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }
    &__list
    {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
        margin-left: 20px;
        @include abstract.breakpoint(sm)
        {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }
    &__item
    {
        color: var(--cart-bt-back);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        position: relative;
        &::before
        {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: orange;
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            left: -15px;
        }
    }
    &__right
    {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }
    &__checkbox
    {
        &--input
        {
            appearance: none;
            &::before
            {
                content: url(../../assets/icons/uncheck.svg);
            }
            &:checked::before
            {
                content: url(../../assets/icons/check.svg);
            }
        }
        
       
    }
}