<div class="footer">
    <div class="footer__inner">
        <div class="footer__row row row-cols-5 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <!-- COL 1 -->
            <div class="footer__col col">
                <!-- LOGO -->
                <img src="../assets/icons/logo.svg" alt="" class="footer__logo">
                <h2 class="footer__logo--heading">grocerymart</h2>
            </div>
            <div class="footer__col col">
                <h4 class="footer__heading">Featured Shops</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Pickup Today in Beauty</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">BeautySpaceNK</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Equate Beauty</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Beauty Deals</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Walmart Exclusives</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Luxury Beauty Deals</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">New Arrivals</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col col">
                <h4 class="footer__heading">Featured Brands</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Shop All</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">New in Bakery</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Sliced Bread</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Rolls & Buns</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Tortillas</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Breakfast Breads</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Pies</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Cookies & Brownies</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col col">
                <h4 class="footer__heading">Premium Beauty</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Shop All</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Hair Color</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Hair Care</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Skincare</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Fragrance</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col col">
                <h4 class="footer__heading">Beauty</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__link">Shop All</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Bath & Body</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Fragrance</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Hair Color</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">Nail Care</a>
                    </li>
            </div>
        </div>
        <div class="footer__seperate"></div>
        <div class="footer__copyright">
            <form action="" class="footer__input">
                <label for="" class="footer__phone-label">Phone</label>
                <input type="text" class="footer__phone" placeholder="Phone">
                <label for="" class="footer__mail-label">Mail</label>
                <input type="text" class="footer__mail" placeholder="Mail">
            </form>
            <p class="footer__copyright-desc">Copyright © 2022 UIHUT all rights reserved.</p>
        </div>
        </div>
    </div>
</div>
